#lattitude{ background-color: #0bada6;
  width: 100px;
  color: white;
  text-align: center;
  position: relative;
  left: 80px;
  }
.background{
  background: #ededed;
  width: 100%;
  height: 100%;
  font-family: Georgia;
  }
.nav-link{
  right:30px;
}

nav {
  background-repeat: no-repeat;
  width: 100%;
}
#main {
  float: left;
  background: white;
  width: 50%;
  height: 50%;
  padding: 30px;
  margin: 35px;
  top: 30px;
}
#center_img{
  width: 50%;

  padding: 25px;
}
#box2 {
  background: white;
  width: 35%;
  height: 60%;
  padding: 30px;
  margin: 35px;
  top: 30px;
}

#square {
  width: 100%;
  height: auto;
  padding: 5px;
  
}

img.wrap {
  float: left;
  margin: 10px;
}

@media screen and (max-width: 990px)
{#box2 {
  background: white;
  width: 90%;
  height: 40%;
  padding: 20px;
  margin: 35px;
}
#main {
  background: white;
  width: 90%;
  height: 50%;
  padding: 20px;
  margin: 35px;}


#square {
  width: 55%;
  height: auto;
  
  
}}